on:
    workflow_dispatch:
        inputs:
            environment:
                description: "deployment environment"
                type: environment
                required: true
    push:
        branches:
            - main
name: Publish Hockeybot Image
run-name: Publish Hockeybot Image (${{ inputs.environment || 'dev' }})
permissions:
    contents: "read"
    id-token: "write"

jobs:
    build-and-deploy:
        environment: ${{ inputs.environment || 'dev' }}
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout Source"
              uses: actions/checkout@main
            - name: "Az CLI login"
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
            - name: Login to ACR and deploy
              run: |
                  base=$(echo "hockeybot/${{inputs.environment || 'dev'}}" | tr '[:upper:]' '[:lower:]')
                  env=$(echo "${{inputs.environment || 'dev'}}" | tr '[:upper:]' '[:lower:]')
                  az acr login --name bpidocker
                  az acr build -t $base:latest -t $base:${{ github.sha }} -r bpidocker .
